<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  </head>
  <body>
    <h1>Signup</h1>
    <div>
      <label for="username">Username (Email):</label>
      <input type="text" id="username" required /><br /><br />

      <label for="password">Password:</label>
      <input type="password" id="password" required /><br /><br />

      <label for="rePassword">Re-Enter Password:</label>
      <input type="password" id="rePassword" required /><br /><br />

      <label for="nickname">Nickname:</label>
      <input type="text" id="nickname" required /><br /><br />

      <button onclick="doSignup()">가입하기</button>
      <button onclick="location.href='/login'">로그인으로 돌아가기</button>
    </div>

    <script>
      function doSignup() {
        let username = $('#username').val()
        let password = $('#password').val()
        let nickname = $('#nickname').val()
        let rePassword =  $('#rePassword').val()
        if (username == '' || password == '' || rePassword == '' || nickname == '') {
          alert('모든 필드를 입력해주세요.')
          return
        }
      
        $.ajax({
          type: 'POST',
          url: '/api/signup',
          data: {
            username: username,
            password: password,
            nickname: nickname,
            rePassword: rePassword
          },
          success: function (response) {
            if (response['result'] == 'success') {
              alert(response['msg'])
              window.location.href = '/login'
            } else {
              alert(response['msg'])
            }
          },
          error: function (error) {
            console.error('Error:', error)
            alert('서버 통신 중 오류가 발생했습니다.')
          }
        })
      }
    </script>
  </body>
</html>
